<p># quizes: <%= staticsQ %></p>
<p># comentarios: <%= staticsC %></p>
<p># comentarios / quiz: <%= staticsC / staticsQ %></p>
<p># quizes con comentarios: <%= staticsQC %></p>
<p># quizes sin comentarios: <%= staticsQ - staticsQC %></p>
